<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="click.acme.genius">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controllers.Activities.AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".Controllers.Activities.QuestionDetailActivity" />
        <activity android:name=".Controllers.Activities.LobbyActivity" />
        <activity
            android:name=".Controllers.Activities.SearchActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Controllers.Activities.ListActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Controllers.Activities.ScanActivity"
            android:label="@string/title_activity_scan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.Activities.AskUsActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Controllers.Activities.BootstrapActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.Activities.MainActivity" />
    </application>

</manifest>